/*-----------------------------------------------
 |                                              |
 |         项目全局scss配置。已经在webpack         |
 |          中做全局引入,每个组件直接使用           |
 |                                              |
 ------------------------------------------------
*/
/*-------------------------------------
 |                                     |
 |              color                  |
 |                                     |
 ---------------------------------------
*/
$color-transparent:transparent; //透明色
$color-white:#ffffff;         //白色
$color-orange:#F75526;        //橘黄色
$color-orange-light:#FF8B00;  //橘黄亮色
$color-orange-lighter:#FFDD6A;//浅黄色 
$color-menu-hover: #FFFF80;
$color-menu-droptitle:#0064C7;
$color-menu-droptext:#525252;
$color-dropdown-background:#F5F5F5;
$color-green:#05BB8B;         //草绿色
$color-blue:#1763F7;          //蓝色 
$color-blue-light:#0EBADD;    //浅蓝色
$color-border:rgba(197, 206, 229, 0.5);        //线条颜色    
$color-font:#000000;          //文字主色
$color-font-light:#8B8B8B;     //浅色文字颜色   
$color-background:#F8F9FA;     //界面背景底色
$color-header-iocn:#828491;
$color-delete:red;
$color-update:red;
$color-table-header:rgb(22,96,241,0.1);
$color-table-td:rgb(22,96,241,0.03);
$color-scroll-bar:#E2EAFC;
$color-btn-background:#EEF2FB;
$color-header-black: #0D2451;
$color-header-gray: #8C98AC;
$color-black:#000000;
/*-------------------------------------
 |                                     |
 |             文字字号                 |
 |                                     |
 ---------------------------------------
*/
$font-size10:10px;/*no*/
$font-size12:12px;
$font-size14:14px;
$font-size16:16px;
$font-size18:18px;
$font-size20:20px;
$font-size22:22px;
$font-size24:24px;
/*-------------------------------------
 |                                     |
 |             文字溢出1/2行省略号       |
 |                                     |
 ---------------------------------------
*/
@mixin text_ {
  white-space:nowrap; 
  overflow:hidden;
  text-overflow:ellipsis;
};
@mixin text__ {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
};
@mixin input_inner {
  height: 35px;
  box-shadow: 0px 0px 3px rgba(0, 38, 98, 0.15);;
  border-color: transparent;
}
@mixin textarea_inner {
  box-shadow: 0px 0px 3px rgba(0, 38, 98, 0.15);;
  border-color: transparent;
}
/*-------------------------------------
 |                                     |
 |             上下左右居中              |
 |                                     |
 ---------------------------------------
*/

@mixin centerAbsolute($top:0,$left:0,$bottom:0,$right:0) {
  position: absolute;
  margin: auto;
  top: $top; 
  left: $left; 
  bottom: $bottom; 
  right: $right;
}
@mixin centerRelative($left:50%,$top:50%) {
  position: relative;
  left: $left;
  top: $top;
  -webkit-transform: translate(-$left,-$top);
    -ms-transform: translate(-$left,-$top);
        transform: translate(-$left,-$top);
}
/*-------------------------------------
 |                                     |
 |             清除浮动                 |
 |                                     |
 ---------------------------------------
*/
@mixin clearFloat {
  &::after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
  }
}
.clearFloat{
  &::after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
  }
}
/*-------------------------------------
 |                                     |
 |             界面宽度                 |
 |                                     |
 ---------------------------------------
*/
@mixin contentwidth{
  width: 1366px;
  margin: 0 auto;
}
/*-------------------------------------
 |                                     |
 |             阴影                     |
 |                                     |
 ---------------------------------------
*/
$input-box-shadow: 0px 0px 3px rgba(0, 38, 98, 0.15);
$btn-box-shadow:0px 0px 20px rgba(27, 29, 33, 0.08);

/*-------------------------------------
 |                                     |
 |             宽高                     |
 |                                     |
 ---------------------------------------
*/
$input-height:35px;
$input-height24:23px;